.popup-table {
    font-weight: 300; 
    width: 100%;
    border-collapse: collapse;
}

.popup-brand{
    font-weight: 300; 
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
}

.popup{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    min-width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-family: "ShinGo", system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
      "Helvetica Neue", Arial, sans-serif;
}

.popup-table td {
    font-weight: 300; 
    padding: 4px 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }